.custom-bg{
    color: #ffffff;
    border: 1px solid #b07a44;
    background-color: #b07a44;
    border-radius: 3px;
    font-family: Geometria;
    font-weight: 500;
}
.backGround{
    background-color: #128C7E;
}